body{
    background: #000000;
    color: azure;
    font-size: 14px;
}
td:nth-child(3){
    width: 100px;
    /* background: blue; */
}
td{
    border-radius: 5px;
}
.parrot{
    clear: both;
    margin: auto;
    display: block;
}
.relatorio-dia-container, .relatorio-semana-container{
    float: left;
    border-radius: 35px;
    border: 2px solid black;
    width: 375px;
    height: 200px;
    padding: 25px;
    background: #333333;
}
.relatorio > h1{
    text-align: center;
    display: block;
    margin: auto;
    clear: both;
    font-family: "Arial Black";
    color: #FFFFFF;
    
}
mes{
    /* border: 4px solid #FFFF00; */
    display: block;
    float: left;
}

table{
    width: 550px;
    background: #000000;
    border: 1px solid black;
    border-radius: 5px;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    color: azure;
    background: #555555;
}
.nao-selecionado{
    background: #222222;
}
.semana-selecionada{
    background: #999999;
}
.dia-selecionado{
    background: #DDDDDD;
}
.topo{
    width: 1000px;
}
.forms{
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
.forms > *{
    display: inline;
    vertical-align: middle;
    
}