body{
    background: #555555;
    color: azure;
    font-size: 14px;
}
td:nth-child(3){
    width: 400px;
    /* background: blue; */
}
.relatorio-dia-container{
    float: left;
    border: 2px solid #FF0000;
    width: 375px;
    height: 400px;
}
.relatorio-semana-container{
    float: left;
    border: 2px solid #0000FF;
    width: 375px;
    height: 400px;
}
mes{
    /* border: 4px solid #FFFF00; */
    display: block;
    float: left;
}
span{
    display: block;
    width:70px;
}
table{
    width: 850px;
    background: #000000;
    border: 1px solid black;
    border-radius: 5px;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    color: azure;
    background: #555555;
}